.text-input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 12px;
}

.std-button {
  background: $primary;
  color: $text;
  height: 32px;
  padding: 0px 16px;
  border: none;
  outline: none;
  font-size: 12px;;
}

.std-link {
  cursor: pointer;
  &.selected {
    border-bottom: 1px solid white;
  }
}

.maintext {
  font-size: 20px;
  margin-bottom: 8px;
}

.subtext {
  font-size: 14px;
}

.link {
  color: #0091EA;
  cursor: pointer;
  margin-left: 16px;
  text-decoration: none;
  &.red {
    color: #EF5350;
  }
}
