.login-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-view {
  flex: 1;
  display: flex;
  height: 150px;

  .home-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 32px;
    padding-right: 0px;
  }
}

.label-view {
  flex: 1;
  height: $height - 48px;

  .label-entry {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: 1px solid #ddd;
  }
}

.settings-view {
  flex: 1;
  height: $height - 48px;
  display: flex;
  flex-direction: column;

  .setting {
    display: flex;
    align-items: center;
    margin: 16px 0px;

    button {
      margin-right: 16px;
    }
  }
}
