
body {
  padding: 2em;
  margin: 0px;
}

.container {
  width: 15em;
  text-align: center;
  font-family: Helvetica;
  font-size: 1.5em;
}

.pad-1 {
  padding: 1em;
}

.break {
  word-wrap: break-word;
}

.child {
  margin-top: 1em;
}
